*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .header {
//     background: url(/assets/ambiance/cooking-2.jpg) no-repeat center / cover;
//     width: 100%;
//     height: 40vh;
//     position: relative;
//     overflow: hidden;

//     &::before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         backdrop-filter: blur(2px);
//         z-index: 1;
//     }

//     .content {
//         position: relative;
//         z-index: 2;
//         width: 100%;
//         height: 100%;
//         @include flex-center;
//         // display: flex;
//         // flex-direction: column;
//         // align-items: center;
//         // justify-content: center;
//         padding-top: 5rem;

//         // color: white;
//             .part1 {
//             width: 100%;
//             color: $text-color-light;
//             text-align: center;
//     }
// }
// }


// nav {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 10vh;
//     background: rgba(255, 255, 255, 0.7);
//     // color: white;
//     padding: 2rem;
//     z-index: 10;
//     @include flex-center(row, space-between, center);
//     .logo{
//         max-width: 12vw;
//     }
// .nav-links{
//     // border: green solid;
//     width: 20%;
//     @include flex-center(row, space-between, center);

   
//     padding: 0;
//     margin: 0;
//     li {
//         font-size: $l;
//       a {
//         display: block;
//         // padding: 0 5rem;

//       }
//     }
//   }
// }
    
// .log-links{
//     // border: red solid;
//     width: 20%;
//    @include flex-center(row, space-evenly, center);
//            img{
//             border-radius: 50%;
//             width: 5vw;
//         }
//     li{
//         font-size: $l;
//     }
// }

// .header .content {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: start;
//     justify-content: space-evenly;
//     padding-top: 5rem;
//     .part1 {
//         width: 100%;
//         color: $text-color-light;
//         text-align: center;
//         .quote{
//             padding: 0.5rem;
//             margin: 0.5rem 0;
//             font-weight: 700;
//             letter-spacing: 2px;
//             font-size: $xl;
//             color: $text-color-light;
//         }
//     }
// }



section {

    width: 100%;
    height: auto;
    background-color: $background-color;
    border: darken($color: pink, $amount: 30) solid 2px;
    @include flex-center (column, center, center);
    & h2 {
        @extend %section-title;

    }
    & .content {
        border: 2px solid blue;
        width: 80%;
        height: 50vh;
        @extend %section-content;

    }
    .text1, .text2 { 
    border:2px solid $text-color-light;
    border-radius: $border-radius;
    min-height: 20vh;
    @include flex-center;
    padding: 1rem;
    }

}
.experience{
    // @extend %section-title;
    @include flex-center (row, space-evenly, center);
    // flex-wrap: nowrap;
    gap: 1.5rem;
    padding: 2rem;
}
.grid-photo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 0.3fr);
  gap: 5px; // Ajuste selon l'espacement désiré
  width: 100%;
  height: 50vh; // Ajuste selon ton besoin

  .photo {

    width: 100%;
    height: 100%;
    img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

  // Placement des photos
  .photo-1 { grid-column: 1 / 2; grid-row: 1 / 5; }
  .photo-2 { grid-column: 1 / 2; grid-row: 5 / 7; }
  .photo-3 { grid-column: 2 / 3; grid-row: 1 / 3; }
  .photo-4 { grid-column: 2 / 3; grid-row: 3 / 5; }
  .photo-5 { grid-column: 2 / 3; grid-row: 5 / 7; }
  .photo-6 { grid-column: 3 / 4; grid-row: 1 / 7; }
  .photo-7 { grid-column: 4 / 5; grid-row: 1 / 4; }
  .photo-8 { grid-column: 4 / 5; grid-row: 4 / 7; }
  .photo-9 { grid-column: 5 / 6; grid-row: 1 / 7; }
}




footer{
    background-color: skyblue;
    width: 100%;
    height: 30vh;
}