.nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $accent-background-color-with-transparency;
    backdrop-filter: blur(5px);
    @include flex-center(row, space-between, center);
    z-index: 10;
    &__logo {
        font-family: $title-font;
        font-size: $xxl;
        color: $text-color;
        text-transform: none;
        // letter-spacing: 20px;
        font-weight: 600;
        @extend%section-padding;
    } 
    &__list { 
        width: 50%;
        @include flex-center(row, space-evenly, center);
        @extend%section-padding;
    }
    &__item { 
            border: solid transparent 1px;
            padding: 0.5rem 1rem;
                &:hover{
                    border: solid $accent-color-y 1px;
                    border-radius: 10px;
                    padding: 0.5rem 1rem;
                    transition: 200ms;
                } 
    }
    &__link { 
        font-size: $m;
        font-weight: 500;
    }
}
