

$text-font: "Open Sans", sans-serif;
$title-font: "Newsreader", serif;
$accent-font: "Dancing Script", cursive;

$text-color: #232323;
$text-color-g:#303529;
$light-text-color : #555;
$background-color: #ffffff;
$accent-background-color: #FAF7E4;
$accent-background-color-with-transparency:#faf7e452;
$accent-color-y: #FED36B;
$accent-color-g: #a2b189; 
$accent-color-r: #FB947F; 



$xxl: 3.5rem;
$xl: 2.5rem;
$l: 1.5rem;
$m: 1.15rem;
$s: 1rem;
$xs: 0.75rem;
$xxs: 0.5rem;

$border-radius : 10px;