$text-font: "Open Sans", sans-serif;
$title-font: "Newsreader", serif;
$accent-font: "Dancing Script", cursive;

$text-color: #232323;
$text-color-dark: #2c3026;
$text-color-light: beige;
$p-color: #555;

$background-color: #ffffff;
$accent-background-color: #fed36b;
$accent-background-color-with-transparency: #ffffff88;

$accent-color-g: #a2b189;
$accent-color-hover-g: #a2b18936;
$accent-color-active-g: #a2b1897b;

$accent-color-r: #fb947f;

$xxxl: 4rem;
$xxl: 3rem;
$xl: 2rem;
$l: 1.5rem;
$m: 1.15rem;
$s: 1rem;
$xs: 0.75rem;
$xxs: 0.5rem;

$border-radius: 10px;
